<!-- Form Layout -->
<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Manage Childsite Promotions</h4>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Site</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of siteOptions" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Associate Promotions to Childsites</mat-label>
        <mat-label>Site</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of siteOptions" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mt-3">
        <div class="example-container">
          <h2>Promotions</h2>

          <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Site Promotions</h2>

          <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
          </div>
        </div>


      </div>
      <div>
        <h4>Look up child sites associated under a promotion:
        </h4>
      </div>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Promotions</mat-label>
        <mat-select>
          <mat-option *ngFor="let type of siteOptions" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <h4>ChildSites</h4>
        <div>
          <mat-chip-list class="example-chip">
            <mat-chip *ngFor="let childSitesOption of childSitesOptions">
              {{childSitesOption.name}}
            </mat-chip>
          </mat-chip-list>

        </div>
      </div>
    </form>
  </div>
</div>