<!-- Form Layout -->
<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Activate Pincode With SerialNum</h4>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Site</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Start Serial Number (inclusive)</mat-label>
        <input matInput type="text" value="Nirav Joshi" placeholder="Serial Number" name="pincodeQuality"
          [(ngModel)]="pincodeQuality">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>End Serial Number (inclusive)</mat-label>
        <input matInput type="text" [(ngModel)]="characterQuality" placeholder="End Serial Number"
          name="characterQuality">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput type="text" [(ngModel)]="pincodeGroupName" placeholder="Start Date(yyyy-mm-dd)"
          name="pincodeGroupName">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput type="text" [(ngModel)]="startSerialNum" name="startSerialNum"
          placeholder="End Date(yyyy-mm-dd)">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Downloads per Pincode</mat-label>
        <input matInput type="text" [(ngModel)]="downloadPerPincode" name="downloadPerPincode">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label> Start Date</mat-label>
        <input matInput type="date" [(ngModel)]="startDate" name="startDate">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>End Date</mat-label>
        <input matInput type="date" [(ngModel)]="endDate" name="endDate">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Pin Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="btn btn-primary fw-normal" (click)="onSubmit()" type="submit">Submit</button>
    </form>
  </div>
</div>